.netrwhist
plugged/ultisnips
plugged/vim-latex
plugged/vim-matlab
plugged/vim-plug
plugged/vim-snippets

# symlinks
db2vim/domutils.py
db2vim/db2vim
db2vim/textutils.py
javascript/javascript-jquery.snippets
javascript/javascript.snippets
javascript/javascript.es6.snippets
javascript/javascript-requirejs.snippets
javascript/javascript-jasmine.snippets
javascript/javascript-react.snippets
javascript/javascript.node.snippets
indent/matlab.vim
indent/tex.vim
UltiSnips/django.snippets
UltiSnips/css.snippets
UltiSnips/bib.snippets
UltiSnips/puppet.snippets
UltiSnips/coffee-jasmine.snippets
UltiSnips/rails.snippets
UltiSnips/snippets.snippets
UltiSnips/rst.snippets
UltiSnips/xml.snippets
UltiSnips/lua.snippets
UltiSnips/texmath.snippets
UltiSnips/lhaskell.snippets
UltiSnips/java.snippets
UltiSnips/rust.snippets
UltiSnips/eelixir.snippets
UltiSnips/vue.snippets
UltiSnips/eruby.snippets
UltiSnips/README
UltiSnips/javascript-ember.snippets
UltiSnips/json.snippets
UltiSnips/blade.snippets
UltiSnips/cs.snippets
UltiSnips/ledger.snippets
UltiSnips/coffee-react.snippets
UltiSnips/python.snippets
UltiSnips/tcl.snippets
UltiSnips/erlang.snippets
UltiSnips/all.snippets
UltiSnips/javascript-node.snippets
UltiSnips/r.snippets
UltiSnips/bindzone.snippets
UltiSnips/objc.snippets
UltiSnips/javascript-angular.snippets
UltiSnips/haskell.snippets
UltiSnips/javascript.snippets
UltiSnips/php.snippets
UltiSnips/julia.snippets
UltiSnips/xhtml.snippets
UltiSnips/c.snippets
UltiSnips/php-laravel.snippets
UltiSnips/d.snippets
UltiSnips/ruby.snippets
UltiSnips/soy.snippets
UltiSnips/cuda.snippets
UltiSnips/php-phpspec.snippets
UltiSnips/ocaml.snippets
UltiSnips/plsql.snippets
UltiSnips/elm.snippets
UltiSnips/htmldjango.snippets
UltiSnips/html_minimal.snippets
UltiSnips/zsh.snippets
UltiSnips/go.snippets
UltiSnips/matlab.snippets
UltiSnips/vim.snippets
UltiSnips/javascript-jasmine-arrow.snippets
UltiSnips/cpp.snippets
UltiSnips/sh.snippets
UltiSnips/robot.snippets
UltiSnips/crystal.snippets
UltiSnips/typescript.snippets
UltiSnips/rnoweb.snippets
UltiSnips/help.snippets
UltiSnips/html.snippets
UltiSnips/javascript-jsdoc.snippets
UltiSnips/supercollider.snippets
UltiSnips/coffee.snippets
UltiSnips/mako.snippets
UltiSnips/ada.snippets
UltiSnips/php-symfony2.snippets
UltiSnips/perl.snippets
UltiSnips/jinja2.snippets
UltiSnips/htmljinja.snippets
UltiSnips/proto.snippets
UltiSnips/markdown.snippets
UltiSnips/pandoc.snippets
UltiSnips/tex.snippets
syntax/matlab.vim
plugin/filebrowser.vim
plugin/remoteOpen.vim
plugin/vimsnippets.vim
plugin/imaps.vim
plugin/SyntaxFolds.vim
snippets/django.snippets
snippets/dosini.snippets
snippets/css.snippets
snippets/typescriptreact.snippets
snippets/actionscript.snippets
snippets/puppet.snippets
snippets/yii-chtml.snippets
snippets/kotlin.snippets
snippets/haml.snippets
snippets/angular_coffee.snippets
snippets/rails.snippets
snippets/snippets.snippets
snippets/make.snippets
snippets/rst.snippets
snippets/reason.snippets
snippets/textile.snippets
snippets/systemverilog.snippets
snippets/ps1.snippets
snippets/xml.snippets
snippets/javascript-mocha.snippets
snippets/lua.snippets
snippets/mustache.snippets
snippets/javascript-openui5.snippets
snippets/fortran.snippets
snippets/requirejs_coffee.snippets
snippets/java.snippets
snippets/rust.snippets
snippets/openfoam.snippets
snippets/eelixir.snippets
snippets/vue.snippets
snippets/eruby.snippets
snippets/javascript
snippets/cs.snippets
snippets/jade.snippets
snippets/apache.snippets
snippets/autoit.snippets
snippets/ledger.snippets
snippets/javascript-jquery.snippets
snippets/progress.snippets
snippets/codeigniter.snippets
snippets/python.snippets
snippets/tcl.snippets
snippets/jinja.snippets
snippets/alpaca.snippets
snippets/stylus.snippets
snippets/handlebars.snippets
snippets/po.snippets
snippets/vhdl.snippets
snippets/erlang.snippets
snippets/cmake.snippets
snippets/r.snippets
snippets/objc.snippets
snippets/javascript-es6-react.snippets
snippets/racket.snippets
snippets/haskell.snippets
snippets/javascript.snippets
snippets/php.snippets
snippets/julia.snippets
snippets/dart.snippets
snippets/helm.snippets
snippets/verilog.snippets
snippets/c.snippets
snippets/laravel.snippets
snippets/elixir.snippets
snippets/clojure.snippets
snippets/d.snippets
snippets/ls.snippets
snippets/ruby.snippets
snippets/javascript.es6.snippets
snippets/javascript-bemjson.snippets
snippets/javascript-requirejs.snippets
snippets/jquery_coffee.snippets
snippets/diff.snippets
snippets/cuda.snippets
snippets/sql.snippets
snippets/ocaml.snippets
snippets/plsql.snippets
snippets/processing.snippets
snippets/simplemvcf.snippets
snippets/perl6.snippets
snippets/chef.snippets
snippets/purescript.snippets
snippets/jsp.snippets
snippets/coffee
snippets/elm.snippets
snippets/htmldjango.snippets
snippets/zsh.snippets
snippets/scss.snippets
snippets/javascript-jasmine.snippets
snippets/lfe.snippets
snippets/arduino.snippets
snippets/go.snippets
snippets/matlab.snippets
snippets/vim.snippets
snippets/cpp.snippets
snippets/sh.snippets
snippets/javascript-react.snippets
snippets/_.snippets
snippets/crystal.snippets
snippets/yii.snippets
snippets/typescript.snippets
snippets/twig.snippets
snippets/html.snippets
snippets/supercollider.snippets
snippets/javascript.node.snippets
snippets/javascript-d3.snippets
snippets/xslt.snippets
snippets/coffee.snippets
snippets/jenkins.snippets
snippets/mako.snippets
snippets/scala.snippets
snippets/idris.snippets
snippets/sass.snippets
snippets/ada.snippets
snippets/slim.snippets
snippets/htmltornado.snippets
snippets/freemarker.snippets
snippets/scheme.snippets
snippets/perl.snippets
snippets/awk.snippets
snippets/markdown.snippets
snippets/falcon.snippets
snippets/tex.snippets
doc/imaps.txt
doc/domutils.py
doc/db2vim
doc/latex-suite.xml
doc/latex-suite-common.xsl
doc/README
doc/latex-suite-chunk.xsl
doc/catalog.xml
doc/Makefile
doc/latex-suite-quickstart.css
doc/README.new
doc/tags
doc/textutils.py
doc/latex-suite.css
doc/latex-suite.txt
doc/Makefile.in
doc/latex-suite.xsl
doc/latex-suite-quickstart.txt
doc/plug.txt
doc/matlab.txt
doc/latex-suite-quickstart.xml
latex-suite/wizardfuncs.vim
latex-suite/geometry
latex-suite/arabic
latex-suite/acromake
latex-suite/IEEEtran.tex
latex-suite/babel
latex-suite/outline.py
latex-suite/caption2
latex-suite/packages
latex-suite/mathmacros-utf.vim
latex-suite/cases
latex-suite/hyperref
latex-suite/fn2end
latex-suite/amsxtra
latex-suite/graphpap
latex-suite/enumerate
latex-suite/ngerman
latex-suite/lscape
latex-suite/float
latex-suite/schedule
latex-suite/plates
latex-suite/version
latex-suite/multibox
latex-suite/color
latex-suite/bophook
latex-suite/smartspace.vim
latex-suite/tipa
latex-suite/multicompile.vim
latex-suite/deleq
latex-suite/overcite
latex-suite/packages.vim
latex-suite/ulem
latex-suite/accents
latex-suite/bibtex.vim
latex-suite/custommacros.vim
latex-suite/templates
latex-suite/dictionaries
latex-suite/footmisc
latex-suite/templates.vim
latex-suite/amsmath
latex-suite/moreverb
latex-suite/projecttemplate.vim
latex-suite/hhline
latex-suite/parallel
latex-suite/german
latex-suite/verbatim
latex-suite/plain
latex-suite/texproject.vim
latex-suite/everyshi
latex-suite/textfit
latex-suite/macros
latex-suite/numprint
latex-suite/times
latex-suite/pytools.py
latex-suite/example
latex-suite/texmenuconf.vim
latex-suite/biblatex
latex-suite/cite
latex-suite/elementmacros.vim
latex-suite/boxedminipage
latex-suite/outliner
latex-suite/report_two_column.tex
latex-suite/version.vim
latex-suite/histogram
latex-suite/psgo
latex-suite/graphicx
latex-suite/array
latex-suite/drftcite
latex-suite/longtable
latex-suite/texviewer.vim
latex-suite/newalg
latex-suite/dictionary
latex-suite/chapterbib
latex-suite/afterpage
latex-suite/oldstyle
latex-suite/manyfoot
latex-suite/article.tex
latex-suite/dropping
latex-suite/diacritics.vim
latex-suite/report.tex
latex-suite/lineno
latex-suite/compiler.vim
latex-suite/SIunits
latex-suite/letterspace
latex-suite/changebar
latex-suite/harpoon
latex-suite/eqlist
latex-suite/amsthm
latex-suite/eqparbox
latex-suite/texrc
latex-suite/bar
latex-suite/url
latex-suite/csquotes
latex-suite/brackets.vim
latex-suite/exmpl
latex-suite/fixme
latex-suite/ifthen
latex-suite/alltt
latex-suite/floatflt
latex-suite/polski
latex-suite/bm
latex-suite/pagenote
latex-suite/mathmacros.vim
latex-suite/envmacros.vim
latex-suite/ccaption
latex-suite/flafter
latex-suite/inputenc
latex-suite/main.vim
latex-suite/folding.vim
latex-suite/multicol
latex-suite/bibtools.py
latex-suite/comma
ftplugin/wizardfuncs.vim
ftplugin/bib_latexSuite.vim
ftplugin/outline.py
ftplugin/packages
ftplugin/mathmacros-utf.vim
ftplugin/smartspace.vim
ftplugin/multicompile.vim
ftplugin/packages.vim
ftplugin/bibtex.vim
ftplugin/custommacros.vim
ftplugin/templates
ftplugin/dictionaries
ftplugin/templates.vim
ftplugin/matlab.vim
ftplugin/projecttemplate.vim
ftplugin/tex_latexSuite.vim
ftplugin/texproject.vim
ftplugin/macros
ftplugin/latex-suite
ftplugin/pytools.py
ftplugin/texmenuconf.vim
ftplugin/elementmacros.vim
ftplugin/version.vim
ftplugin/texviewer.vim
ftplugin/diacritics.vim
ftplugin/compiler.vim
ftplugin/texrc
ftplugin/brackets.vim
ftplugin/mathmacros.vim
ftplugin/envmacros.vim
ftplugin/main.vim
ftplugin/folding.vim
ftplugin/bibtools.py
compiler/tex.vim
compiler/mlint.vim
coffee/angular_coffee.snippets
coffee/requirejs_coffee.snippets
coffee/jquery_coffee.snippets
coffee/coffee.snippets
autoload/vim_snippets.vim
pythonx/vimsnippets.py
pythonx/javascript_snippets.py
